*{
width: 390px;
height:844px;
background-color: white;
}

.top{
 
// box-sizing: border-box;

max-width: 355px;
max-height: 159px;

background: rgba(229,229,229,1);
// border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 25px;
}

.icono-menu{
    // max-height: 69px;
    size: 25%;


}

.logo{
    max-height: 102px;

}

.navigation-menu {

    width: 175px;
    height: 185px;

    background: #FFFFFF;
    border-radius: 25px;

}





/* Rectangle 6 

position: absolute;
left: 14.08%;
right: 34.93%;
top: 75.47%;
bottom: -108.81%;

background: #FFFFFF;
border-radius: 25px;*/




/* Line 14 

position: absolute;
left: 14.08%;
right: 35.64%;
top: 118.87%;
bottom: -18.87%;

border: 1px solid #000000;*/




.menu {
    list-style: none;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;


}

h1 {

        width: 281px;
        height: 42px;
        
        font-family: 'Roboto Condensed';
        font-style: bold;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #000000;
}